 <!--<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>index page</title>
<link rel="stylesheet" href="mystyle.css">

</head>
<body>
<label>Welcome to Student learn sphere</label>
<br>
<form action="register">
    <input type="submit" value="REGISTER" />
</form><br>
<form action="login">
    <input type="submit" value="LOGIN" />
</form>

</body>

</html>
-->
 <html>
    <head>
        <title>Website Homepage Design with HTML and CSS</title>
        <link rel="stylesheet" href="new2.css">

    </head>
    
    <body>
        <header>
            <div class="wrapper">
                <div class="logo">
                    <img src="study.jpeg" alt="">

                </div>
                <ul class="nav-area">
                    <li><a href="register">REGISTER</a></li>
                    <li><a href="login">SignUp/Login</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Support</a></li>

                </ul>
            </div>
            <div class="welcome-text">
                <h1>get started with learnsphere 
                   <br>Boost your coding skills with us</h1>
                <a href="#">register</a>
            </div>
</header>
</body>
 </html>

