<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>courses</title>
</head>
<body>
<!--  <h1>Courses details</h1>
<table border=1>
<tr>
<th> Course Id</th>
<th> Lesson Id</th>

<th>Lesson Name</th>
<th>Lesson topics</th>
<th>Lessons link</th>
</tr>

<tr th:each="lesson:${lessonList}">
<td th:text="${lesson.courseId}"></td>

<td th:text="${lesson.lessonId}"></td>
<td th:text="${lesson.lessonName}"></td>
<td th:text="${lesson.lessonTopics}"></td>
<td th:text="${lesson.link}"></td>


</tr>
</table>
-->
<!--  form action="/goToLesson" method="post">
<label>Enter lesson ID:</label>
<input type ="text" name="lessonId">
<input type="submit" value="start lesson">
</form>
-->
<h1>My Course</h1>
<a href="/course1"><button>Course 1</button></a>
<a href="/course2"><button>Course 2</button></a>


</body>
</html>